openapi: 3.1.0
info:
  title: PDCP Asset chaos API
  version: '1.0'
  summary: ProjectDiscovery Cloud Platform
  description: For more details, checkout https://docs.projectdiscovery.io/api-reference/editor/scan
servers:
- url: https://api.projectdiscovery.io
  description: Production
- url: https://api.dev.projectdiscovery.io
  description: Development
- url: http://localhost:8085
  description: Localhost
security:
- X-API-Key: []
tags:
- name: chaos
paths:
  /v1/domain/associated:
    parameters: []
    get:
      summary: Get Associated Domains
      description: Discover domains related to a given domain through acquisition history, certificate transparency logs, and WHOIS records. Returns associated domains with evidence of their relationship.
      tags:
      - chaos
      responses:
        '200':
          $ref: '#/components/responses/AssociatedDomainsResults'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: associated-domains
      parameters:
      - schema:
          type: string
        in: query
        name: domain
        description: Domain name to fetch associated domains. If omitted, returns associated domains for all your verified domains.
      - schema:
          type: string
        in: query
        name: source
        description: Comma-separated source filter (acquisition_history, certificate_history, whois_history)
      - schema:
          type: boolean
        in: query
        name: active
        description: Filter by liveness (true=alive, false=unreachable)
      - schema:
          type: string
          enum:
          - active
          - domain
          - source
          - subdomain_count
          - update_date
        in: query
        name: sort
        description: Sort results
      - schema:
          type: integer
        in: query
        name: limit
        description: Maximum results per page (pagination). If omitted, returns all.
      - schema:
          type: integer
        in: query
        name: page
        description: Page number (pagination, starts at 1)
      - schema:
          type: boolean
        in: query
        name: raw
        description: If true, returns plain text list (one domain per line)
      - schema:
          type: string
        in: header
        name: X-Team-Id
components:
  schemas:
    AssociatedDomainEvidence:
      title: AssociatedDomainEvidence
      type: object
      properties:
        acquired_company:
          description: Acquired company name
          type: string
        acquired_date:
          description: Acquisition date
          type: string
        acquirer_name:
          description: Acquirer organization name
          type: string
        active:
          description: Whether the domain is reachable
          type: boolean
        as_name:
          description: Autonomous system name
          type: string
        as_number:
          description: Autonomous system number
          type: integer
        cert_common_name:
          description: Certificate common name
          type: string
        cert_expiry_date:
          description: Certificate expiry date
          type: string
        cert_issued_date:
          description: Certificate issued date
          type: string
        cert_issuer:
          description: Certificate issuer
          type: string
        cert_org_name:
          description: Certificate organization name
          type: string
        cert_serial:
          description: Certificate serial number
          type: string
        crunchbase_url:
          description: Crunchbase URL
          type: string
        expiry_date:
          description: Domain expiry date
          type: string
        location:
          description: Geographic location
          type: string
        orgname:
          description: WHOIS organization name
          type: string
        probe:
          description: Probe information
          type: string
        registrant_org:
          description: Registrant organization
          type: string
        registrar:
          description: Registrar name
          type: string
        registration_date:
          description: Domain registration date
          type: string
        search_identifier:
          description: Search identifier
          type: string
        status_code:
          description: HTTP status code
          type: integer
        subdomain_count:
          description: Number of discovered subdomains
          type: integer
        title:
          description: HTTP title
          type: string
        update_date:
          description: Last update date
          type: string
        whois_server:
          description: WHOIS server
          type: string
    AssociatedDomainResult:
      title: AssociatedDomainResult
      type: object
      required:
      - domain
      - sources
      properties:
        domain:
          description: Associated domain name
          type: string
        evidence:
          $ref: '#/components/schemas/AssociatedDomainEvidence'
        sources:
          description: Sources that reported the association
          type: array
          items:
            type: string
    AssociatedDomainsResultSet:
      title: AssociatedDomainsResultSet
      type: object
      required:
      - domain
      - results
      - sources
      properties:
        domain:
          description: Queried domain
          type: string
        results:
          description: List of associated domains
          type: array
          items:
            $ref: '#/components/schemas/AssociatedDomainResult'
        sources:
          description: List of sources used in the query
          type: array
          items:
            type: string
        sources_count:
          description: Count of results per source
          type: object
          additionalProperties:
            type: integer
        unique_count:
          description: Unique associated domains count
          type: integer
        limit:
          description: Maximum results per page when paginated
          type: integer
        page:
          description: Current page when paginated
          type: integer
        total_count:
          description: Total associated domains when paginated
          type: integer
        total_pages:
          description: Total pages when paginated
          type: integer
  responses:
    AssociatedDomainsResults:
      description: Associated domains response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AssociatedDomainsResultSet'
        text/plain:
          schema:
            type: string
            description: Plain text list of domains when raw=true
    ErrorResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            required:
            - message
            properties:
              message:
                type: string
              kind:
                type: string
              code:
                type: string
              error:
                type: string
              error_id:
                type: string
              param:
                type: string
              status:
                type: integer
  securitySchemes:
    X-API-Key:
      name: X-API-Key
      type: apiKey
      in: header
x-internal: false
